body{
    background-color:hsl(220, 15%, 55%);
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.qr-container{
    background-color: white;
    width: 20rem;
    height: 31rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 75px;
    
}
.qr-image{
    width: 16rem;
    height: 16rem;
    border-radius: 10px;
    
}

.paragraph-text{
    color:grey;
    font-size: 15px;
}
.footer{
}