@import url('https://fonts.google.com/specimen/Outfit');

body{
    background-color:hsl(220, 42%, 79%);
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.qr-container{
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 75px;
    
}
.qr-image{
    width: 21.5rem;
    height: 21.5rem;
    border-radius: 10px;
    
}

.paragraph-text{
    color:grey;
    font-size: 18px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Outfit',sans-serif;
}